footer{
  background: #000;
  position: relative;
  padding: 20vw 0;

  img{
    width: 15%;

    &.image-1{
      position: absolute;
      left: 0px;
      top: 10vw;
    }
    &.image-2{
      position: absolute;
      left: 14%;
      bottom: 7vw;
    }
    &.image-3{
      position: absolute;
      left: 25%;
      top: 14vw;
    }
    &.image-4{
      position: absolute;
      left: 42%;
      top: 5vw;
    }
    &.image-5{
      position: absolute;
      left: 46%;
      bottom: 8vw;
    }
    &.image-6{
      position: absolute;
      right: 20%;
      bottom: 4vw;
    }
    &.image-7{
      position: absolute;
      right: 18%;
      top: 10vw;
    }
    &.image-8{
      position: absolute;
      right: 0%;
      top: 4vw;
    }
    &.image-9{
      position: absolute;
      right: 0;
      bottom: 7vw;
    }
  }

  .text-inner-footer{
    font-size: 6vw;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    mix-blend-mode: difference;
    font-family: "obviously-wide";
    width: 100%;
  }
}

